:root { 
  --sage: #babfb0;
  --purple: #534b62;
  --dark-green: #002500;
  --burnt-orange: #7d4f3b;

  --pink: #E83F6F; 
  --blue: #003A9E; 
  --yellow: #FFBF00;
  --green: #04724D;

  --pale-white: #F0f0f0; 
}

#skip {
  position: absolute;
  top: -25px;
}

#skip:focus {
  top: 15px;
  left: 10px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  background: white;
  border: solid 2px black;
  z-index: 1;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Black.ttf);
  font-weight: 900;
}

body {
  font-family: Montserrat, "Open sans", Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #f0f0f0;
}

h1 { 
  font-size: 80px;
  line-height: 100px;
  font-weight: 900;
}

h2 { 
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

h3 { 
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

img,
video {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 30px 10px 10px 10px;
  font-weight: bold;
  font-size: 20px;
}

.nav-wrapper {
  padding: 0 0 15px 0;
  background: #f0f0f0;
}

.navli-travel {
  border-bottom: solid 4px var(--dark-green);
  color: var(--dark-green);
}

.navli-pets {
  border-bottom: solid 4px #1b2a41;
  color: #1b2a41;
}

.navli-recipes {
  border-bottom: solid 4px var(--green);
  color: var(--green);
}

.bold {
  font-weight: bold;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.nav-title { 
  display: none;
}

@media only screen and (min-width: 600px) {
  .nav-wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: baseline;
  } 

  .nav-title { 
    display: block;
    color: black;
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px;
  }

  ul { 
    gap: 5px;
  }
}
