h1 { 
    text-align: center;
    margin-bottom: 20px;
    color: var(--pale-white);
}

h2 { 
    text-align: center;
    color: var(--green);
}

h3 {
    font-size: 22px;
    line-height: 24px;
}

.bold { 
    color: var(--blue);
}

header { 
    text-align: center;
    background-color: var(--green);
    padding: 40px 20px 80px 20px;
}

.links { 
    margin-top: 10px;
}

.links img { 
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

section { 
    margin-top: 175px;
}

section:first-of-type { 
    margin-top: 0;
}

.section-padding { 
    padding: 0 20px 0 20px;
}

.section-header { 
    padding: 60px 0 20px 0;
}

.section-header img { 
    margin: 20px 0 20px 0;
}

.facts { 
    padding: 0 20px 0 20px;
    text-align: center;
}

.steps h3 { 
    color: var(--pink);
}

.steps ol { 
    list-style-position: inside;
    list-style-type: decimal;
}

.ingredients h3 { 
    color: #390099;
}

.ingredients li, .steps li {
    margin-bottom: 5px;
    margin-top: 5px;
}

.ingredients { 
    margin: 20px 0;
}

.description { 
    text-align: center;
    padding: 10px;
}

.container { 
    height: 429px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.circle { 
    position: absolute;
    width: 100%; 
    z-index: -1; 
    fill: var(--yellow);
}

.food-images { 
    margin: 20px 0;
}

.food-images h3 { 
    color: var(--blue);
}

.images-grid { 
    margin-top: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr ;
} 

.images-grid img:first-child { 
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.images-grid img:last-child { 
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}