body { 
    background-color: rgb(250, 255, 247);
    margin: 10px;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: bold;
}

h1 { 
    font-size: 25px;
    line-height: 30px;
    color: rebeccapurple;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2, h3 { 
    font-size: 20px;
    line-height: 30px;
    color: rgb(82, 155, 41);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 { 
    color: red;
}

p { 
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
}

img { 
    border: solid 5px rgb(212, 255, 187); 
    width: 600px;
}

#skip-link { 
    text-transform: uppercase;
}

/* nav */

nav {
    background-color: bisque;
}

nav a{
    padding: 5px;
}

nav li { 
    display: inline-block;
}

nav li:hover { 
    background-color: aliceblue;
}

.upside-down-pic { 
    transform: rotate(180deg);
}