:root {
  --purple1: #e7e0ff;
  --purple3: #4b2ab5;
  --purple4: #27106b;

  --travel1: #BABFB0;
  --travel2: #534B62;
  --travel3: #002500;
  --travel4: #7D4F3B; 

  --blue1: #b9dae4;
  --blue2: #2E5266;
  --blue3: #1B2A41;
}

#skip {
  position: absolute;
  top: -25px;
}

#skip:focus {
  top: 15px;
  left: 10px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  background: white;
  border: solid 2px black;
  z-index: 1;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Black.ttf);
  font-weight: 900;
}

body {
  font-family: Montserrat, "Open sans", Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

img,
video {
  width: 100%;
}

main {
  padding: 60px 20px; 
  position: relative;
  background-color:#f0f0f0;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

/* travel globals start */
.travel-body h2 { 
  color: var(--travel2);
}

.travel-body h3 { 
  color: var(--travel4);
}
/* travel globals end */

/* nav start */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 30px 10px 10px 10px;
  font-weight: bold;
  font-size: 20px;
}

.nav-wrapper { 
  padding: 0 0 15px 0;
  background: #f0f0f0;
}

.navli-travel {
  border-bottom: solid 4px var(--travel3);
  color: var(--travel3);
}

.navli-pets {
  border-bottom: solid 4px var(--purple3);
  color: var(--purple3);
}

.navli-recipes {
  border-bottom: solid 4px var(--travel3);
  color: var(--travel3);
}
/* nav end */

/* top of page start */
.travel-bg { 
  background-color: var(--travel3);
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.travel {
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  margin:  70px auto 30px auto;
  color: #f0f0f0;
}

.page-title {
  padding: 50px 0 0 0;
  margin: 50px auto 0 auto;
  text-align: center;
}
/* top of page end */

/* ticker start */
.ticker-wrap {
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 50%;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  margin-right: 100%;
  animation: ticker 15s linear infinite;
}

.ticker-item {
  margin: 0 3rem 0 0;
}
/* ticker end */

/* section start */
.section { 
  margin-bottom: 200px;
}

.section:last-child { 
  margin-bottom: 0px;
}
/* section end */

/* section title img start */
.title-img,
.recipe-title {
  padding: 0 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipe-title {
  flex-direction: column;
  text-align: center;
}

.title-img div,
.recipe-title div {
  text-align: left;
  align-self: flex-start;
}

.title-img img,
.recipe-title img,
.ticker img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-self: flex-end;
}
/* section title img end */

/* description start  */
.bold {
  font-weight: bold;
}

.description {
  padding: 20px 0;
}

.description p {
  margin: 15px 0;
}
/* description end  */

/* photo gallery start  */
.photo-gallery-container { 
  margin: 10px 0;
}

.photo-gallery-container h3 { 
  padding: 7px 0;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.photo-gallery img {
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.photo-gallery div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* padding: 1px; */
  border-radius: 10px;
  transition: 0.3s;
  background-color: var(--travel1);
}

.photo-gallery div p { 
  padding: 15px;
}

.photo-gallery div:nth-child(3) {
  grid-column: 1/-1;
}
/* photo gallery end */

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-img-background {
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--purple1);
  border-radius: 50%;
  left: -19px;
  top: 20px; 
  z-index: -1;
  animation: circle 1s infinite linear;
}

.profile-img-container {
  position: relative;
  display: inline-block;
}

.pet-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-highlight,
.orange-highlight,
.blue-highlight {
  width: max-content;
  position: relative;
  color: var(--purple3);
}

.purple-highlight,
.orange-highlight,
.blue-highlight {
  background-color: var(--purple1);
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 70%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.title-img .still {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .gif {
    display: none;
  }
  .title-img .still {
    display: block;
  }
  nav li:hover img {
    animation: none;
  }
  .ticker {
    animation: none;
  }
}

@keyframes circle {
  0% {
    transform: scale(1);
    background-color: var(--purple1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    background-color: var(--purple4);
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-800%, 0, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* nav li:hover img {
  animation: bounce 0.5s infinite alternate;
} */